/* SignUpComponent.css */

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-box {
    background-color: #001f3f;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: #f6c177;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px 15px;
    background-color: #fff;
}

.input-group .icon {
    margin-right: 10px;
    font-size: 20px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
}

button {
    background-color: #f6c177;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    color: #001f3f;
    font-weight: bold;
}

button:hover {
    background-color: #ffb347;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-link {
    color: #f6c177;
    cursor: pointer;
}

.login-link:hover {
    text-decoration: underline;
}

.signup-footer {
    margin-top: 10px;
    color: #f6c177;
    font-size: 14px;
}
.google-login-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}